body {
    font-size: 19px;
    text-align: center;
    border-style: double;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th,
td {
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #F5F5F5;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}

.btnTwo,
.btnTwo:hover,
.btnTwo:visited {
    padding: 10px;
    font-size: 20px;
    color: white;
    background: rgb(114, 154, 156);
    border: none;
    border-radius: 5px;
    width: fit-content;
}

.edit_btn,
.edit_btn:hover,
.edit_btn:visited {
    text-decoration: none;
    padding: 2px 5px;
    background: rgb(103, 173, 133);
    color: white;
    border-radius: 3px;
    width: fit-content;
}

.del_btn,
.del_btn:hover,
.del_btn:visited {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #b94242;
    width: fit-content;
}

.lists {
    text-align: center;
    font-size: 20px;
}

a:visited {
    color: rgb(22, 22, 43);
    text-decoration: none;
}

.btnDelete {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #b94242;
    width: auto;
    font-size: 20px;
}

.deleteForm {
    align-content: center;
}